{% load i18n %}

{% verbatim %}
  <template id="_profile_list_item">
    <article>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 profile-container" style="height:180px;width:25%;">
        <div class="col-xs-12 profile-avatar">
          <div class="col-xs-4 profile-image">
            <a href="${object.profile_detail_url}" ><img src="${object.avatar_100}" alt="profile image"/></a>
          </div>
          <div class="col-xs-8 profile-details" style="height: 110px;">
            <h5>
              <a href="${object.profile_detail_url}">${object.first_name != '' ? object.first_name : object.username } ${object.last_name != '' ? object.last_name : ''}
              </a>
            </h5>
            <p>
              <small>
                ${object.organization == null ? '{% endverbatim %}{% trans "No Organization Info" %}{% verbatim %}' : object.organization }
              </small>                                          
            </p>          
          </div>
          <div class="col-xs-12 profile-items">
            <ul class="list-inline">
              <li>
                <a href="${object.profile_detail_url}?content=layers">
                  <i class="fa fa-square-o rotate-45"></i>
                  ${object.layers_count}                  
                </a>
              </li>
              <li>
                <a href="${object.profile_detail_url }?content=maps">
                  <i class="fa fa-map-marker"></i>
                  ${object.maps_count}
                </a>
              </li>
              <li>
                <a href="${object.profile_detail_url}?content=documents">
                  <i class="fa fa-file-text-o"></i>
                  ${object.documents_count}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </template>
{% endverbatim %}
