{% verbatim %}
<template id="_group_snippet">
    <div class="row">
        <article resource_id="${object.id}">
            <div class="col-xs-12 item-container">
                <div class="col-xs-4">
                    <img class="img-responsive" src="${ object.logo_url }" alt="${ object.title }">
                </div>
                <div class="col-xs-8 item-details">
                    <h4><a href="${ object.detail_url }">${ object.title }</a></h4>
                    <p class="abstract">
                        ${ object.description }                        
                    </p>
                    <div class="row">
                        <div class="col-xs-12 item-items">
                            <ul class="list-inline">
                                <li>
                                    <a href="${ object.detail_url }">
                                        <strong>${ object.member_count }</strong>
                                        ${ object.member_count == '1' ? 'Member': 'Members'}                                       
                                    </a>
                                </li>
                                <li>
                                    <a href="${ object.detail_url }">
                                        <strong>${ object.manager_count }</strong>
                                        ${ object.manager_count == '1' ? 'Manager': 'Managers'}
                                    </a>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</template>

{% endverbatim %}
