{% verbatim %}
<template id="_groupcategory_snippet">
  <div class="row">
    <article resource_id="${ object.id }">
      <div class="col-xs-12 item-container">
        <div class="col-xs-8 item-details">
          <h4><a href="${object.detail_url}">${object.name}</a></h4>
          <div class="row">
            <div class="col-xs-12 item-items">
              <ul class="list-inline">
                <li>
                  <a href="${object.detail_url}">
                    <strong>${ object.member_count }</strong>
                    ${ object.member_count == '1' ? 'Member' : 'Members' }
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</template>
{% endverbatim %}
